<button class="w-full border-2 font-crimson font-extrabold text-white"
        [ngClass]="{
                'hover:bg-opacity-70 opacity-100': valid,
                'opacity-40': !valid,
                'bg-blueCustom border-blueCustom': color == 'blueCustom',
                'bg-pinkCustom border-pinkCustom': color == 'pinkCustom',
                'h-[2.875rem] rounded-[1.25rem]': size == 'big',
                'h-[1.875rem] rounded-[0.625rem]': size == 'small',
        }" 
        (invalid)="valid" (click)="clickButton()">{{name}}</button>
