<section class="w-full flex flex-col gap-[4.875rem]">
    <form class="w-full grid grid-rows-4 grid-flow-col gap-6" [formGroup]="fgTask">
        @for (item of formsInputs; track $index) {
            <div class="w-[25rem] h-[3.5rem]">
                <div class="w-full flex flex-col justify-start gap-1">
                    @switch (item.type) {
                        @case ('text') {
                            <app-input [type]="'text'" 
                                       [placeholder]="item.placeholder"
                                       [valid]="fieldValidation(''+item.formInfo?.formName)"
                                       [backgroundColor]="'medio'" 
                                       [control]="fgTask.controls[item.formInfo?.formName+''] | formControl"></app-input>
                        }
                        @case ('number') {
                            <app-input [type]="'number'" 
                                       [placeholder]="item.placeholder"
                                       [backgroundColor]="'medio'" 
                                       [control]="fgTask.controls[item.formInfo?.formName+''] | formControl"></app-input>
                        }
                        @case ('date') {
                            <app-input-date [backgroundColor]="'medio'" 
                                            [placeholder]="''+item.placeholder" 
                                            [valid]="true"
                                            [control]="fgTask.controls[item.formInfo?.formName+''] | formControl"></app-input-date>
                        }
                        @case ('select') {
                            @if (item.options) {
                                <app-select [options]="item.options" 
                                            [size]="'big'" 
                                            [placeholder]="item.placeholder"
                                            [valid]="fieldValidation(''+item.formInfo?.formName)"
                                            [control]="fgTask.controls[item.formInfo?.formName+''] | formControl" 
                                            [backgroundColor]="'medio'"></app-select>
                            }@else if (item.optionsKey) {
                                <app-select [optionsKey]="item.optionsKey" 
                                            [size]="'big'" 
                                            [placeholder]="item.placeholder"
                                            [valid]="fieldValidation(''+item.formInfo?.formName)"
                                            [control]="fgTask.controls[item.formInfo?.formName+''] | formControl" 
                                            [backgroundColor]="'medio'"></app-select>
                            }
                        }
                        @case ('text-area') {
                            <app-text-area class="h-[7.25rem]" [placeholder]="item.placeholder" 
                                           [control]="fgTask.controls[item.formInfo?.formName+''] | formControl" 
                                           [backgroundColor]="'medio'" [valid]="true"></app-text-area>
                        }
                    }
                    @if (fieldHasError(''+item.formInfo?.formName, 'required')) {
                        <p class="font-crimson font-medium text-base text-red-700 ml-2">Campo obligatorio</p>
                    }
                </div>
            </div>
        }
    </form>
    <div class="w-full flex flex-row justify-end items-center gap-5">
        <app-button class="w-[10rem]" 
                    [name]="'Cancelar'"
                    [color]="'pinkCustom'" 
                    (selectButton)="cancelProject()"></app-button>
        <app-button class="w-[10rem]" 
                    [name]="'Registrar'" 
                    [valid]="fgTask.valid" 
                    (selectButton)="createTask()"></app-button>
    </div>

</section>
