<section class="w-full flex flex-col items-center gap-[4.125rem] p-[2.625rem]">
    <h1 class="font-crimson font-extrabold text-white text-5xl leading-[3.875rem]">Login</h1>

    <form class="w-full flex flex-col items-center gap-[0.938rem]">
        <div class="w-full flex flex-col justify-start gap-[1.438rem]">
            @for (formInput of formsInputs; track $index) {
                <div class="w-full flex flex-col justify-start gap-1">
                    <app-input  [type]="formInput.type" 
                       [icon]="formInput.icon" 
                       [placeholder]="formInput.placeholder" 
                       [control]="formLogin.controls[''+formInput.formInfo?.formName] | formControl" 
                       [valid]="fieldValidation(''+formInput.formInfo?.formName)">
                    </app-input>
                    @if (fieldHasError(''+formInput.formInfo?.formName, 'required')) {
                        <p class="font-crimson font-medium text-base text-red-700 ml-2">Campo obligatorio</p>
                    }
                    @if (fieldHasError(''+formInput.formInfo?.formName, 'email')) {
                        <p class="font-crimson font-medium text-base text-red-700 ml-2">Correo no valido</p>
                    }
                </div>
            }
        </div>

        <div class="w-full flex flex-col justify-center gap-[1.375rem]">
            <div class="w-full flex flex-col items-end">
                <p class="font-crimson font-medium text-white text-base cursor-pointer hover:underline">¿Has olvidado tu contraseña?</p>
            </div>

            <app-button [name]="'Iniciar sesión'" 
                        [valid]="formLogin.valid" 
                        (selectButton)="loginUser()"></app-button>

        </div>
    </form>

</section>
