<section class="w-[54.75rem] flex flex-col gap-[1.375rem]">
    <div class="w-full h-[1.875rem] flex flex-row justify-between items-center">
        <div class="w-[14.875rem] h-[1.875rem] flex flex-row justify-start items-center gap-[0.625rem]">
            <app-icon class="w-6 h-6 cursor-pointer" [name]="'arrow-back'" [opacity]="true" (clickEvent)="back()"></app-icon>
            <p class="font-crimson font-extrabold text-black text-base text-opacity-80 leading-[1.313rem]" >{{dataProject?.name}}</p>
        </div>

        <div class="w-[5.188rem] h-[1.875rem] flex flex-row items-center cursor-pointer gap-[0.625rem]" (click)="projectFormDeploy()">
            <p class="font-crimson font-extrabold text-gray-600 text-base text-opacity-50">Editar</p>

            <app-icon class="w-6 h-6" [name]="'edit'" [opacity]="true" (clickEvent)="projectFormDeploy()"></app-icon>
        </div>
    </div>

    <div class="w-full flex flex-col gap-[1.375rem] pl-[2.125rem]">
        <div class="flex flex-row gap-6 font-crimson font-extrabold text-black text-base text-opacity-80 leading-[1.313rem]">
            <p><span class="font-thin !text-gray-600 !text-opacity-50">Fecha de inicio: </span> {{dataProject?.startDate | dateFormat:'DD/MM/YYYY'}}</p>

            <p><span class="font-thin !text-gray-600 !text-opacity-50">Fecha de finalización: </span> {{dataProject?.endingDate| dateFormat:'DD/MM/YYYY'}}</p>
        </div>

        @if (dataProject?.description) {
            <div class="w-full flex flex-col font-crimson font-extrabold text-black text-base text-opacity-80 leading-[1.313rem]">
                <p class="font-thin !text-gray-600 !text-opacity-50">descripción:</p>
                <p>{{dataProject?.description}}</p>
            </div>
        }

    </div>

</section>

<ng-template #projectForm>
    <app-register-project-form [dataProject]="dataProject" 
                               (editEvent)="editDataProject($event)" 
                               (cancelEvent)="cancelEditProject()"></app-register-project-form>
</ng-template>
