<section class="w-full bg-gradient-to-b from-pinkCustom to-blueCustom h-screen flex flex-col justify-center items-center">
    <div class="w-[31.25rem] min-h-[27.5rem] max-h-[40rem]">
        <app-card-l [content]="loginForm"></app-card-l>
    </div> 
</section>
<p class="absolute top-[95%] w-full flex flex-row justify-center font-crimson font-medium text-base text-white leading-[1.313rem] gap-1">
    <span class="opacity-40">¿Eres nuevo aquí? </span> <span class="hover:underline cursor-pointer" (click)="goToRegisterUser()">Regístrate</span>
</p>

<ng-template #loginForm>
    <app-login-form (loginEvent)="loginUser($event)"></app-login-form>
</ng-template>
