<section class="flex flex-row items-center w-full h-[4rem] px-3 bg-gradient-to-r from-pinkCustom to-blueCustom">
    <div class="w-full flex flex-row justify-between items-center">

        <div class="flex flex-row gap-3">
            <div class="w-[2.25rem] h-[2.25rem] flex flex-col justify-center items-center hover:bg-pink-500" (click)="selectMenu()">
                <app-icon class="w-[1.5rem] h-[1.5rem]" [name]="'menu'"></app-icon>
            </div>

            <div class="flex flex-row gap-1 items-center">
                <app-icon class="w-[1.5rem] h-[1.5rem]" [name]="'landscape'"></app-icon>

                <h1 class="font-crimson font-extrabold text-white text-xl leading-6">AgilePro</h1>
            </div>

        </div>

        <div class="flex flex-row gap-[1.25em]">
            @if (myRole()) {
                <app-button class="w-[6.375rem]" 
                            [color]="'pinkCustom'" 
                            [name]="'Shared'" 
                            [size]="'small'" 
                            (selectButton)="selectShare()"></app-button>
            }
                

            <app-profile-icon [nameUser]="userData ? userData.name : undefined" mat-button [matMenuTriggerFor]="beforeMenu"></app-profile-icon>
            <mat-menu class="w-[16.563rem] !bg-gradient-to-r from-pinkCustom to-blueCustom !rounded-[0.625rem] !p-[0.094rem]" #beforeMenu="matMenu" xPosition="before">
                <div class="w-full h-full flex flex-col gap-1 items-center justify-center p-4 box-border font-crimson text-sm truncate rounded-[0.625rem] !bg-white">
                    <app-profile-icon [nameUser]="userData ? userData.name : undefined" [color]="'none'"></app-profile-icon>

                    <p class="font-bold">{{userData?.name}}</p>

                    <p class="font-normal">{{userData?.email}}</p>

                    <app-button-icon class="w-full" [nameIcon]="'logout'" [title]="'Cerrar Sesión'" [position]="'left'" (clickEvent)="logout()"></app-button-icon>
                </div>

            </mat-menu>
        </div>

    </div>

</section>

<ng-template #sharedForm>
    <app-project-user-management (sharedProjectEvent)="shareProject($event)" 
                                 (deletesharedProjectEvent)="deleteProjectUser($event)" 
                                 (editsharedProjectEvent)="editProjectUser($event)"></app-project-user-management>
</ng-template>
