<section class="w-full flex flex-col items-start">
    <div class="w-full h-[1.875rem] flex flex-row justify-start items-center gap-4">
        <p class="font-crimson font-thin text-gray-600 text-opacity-50">Sprint</p>

        <app-icon [name]="'add-circle'" 
                  [opacity]="true" 
                  [matTooltip]="'Crear Sprint'" 
                  (clickEvent)="sprintFormDeploy()"></app-icon>
    </div>
    <app-table [displayedColumns]="displayedColumns" 
               [data]="data" 
               (rowSelectEvent)="sprintSelection($event)" 
               (actionsEvent)="actionSprintSelection($event)"></app-table>

</section>

<ng-template #sprintForm>
    <app-sprint-form [editSprint]="editSprint" 
                     (cancelEvent)="cancelSprint()" 
                     (createEvent)="createSprint($event)" 
                     (editEvent)="editDataSprint($event)"></app-sprint-form>
</ng-template>