<section class="w-[46.75rem] h-[36.5rem] flex flex-col">
    <div class="w-full h-[2.25rem] flex flex-row justify-between items-center">
        <div class="w-auto flex flex-row items-center gap-[0.625rem]">
            <app-icon [name]="'keyboard'" [opacity]="true"></app-icon>

            <h1 class="font-crimson font-bold text-black text-opacity-80 text-xl">{{detailedTask.title}}</h1>
        </div>

        <div class="w-auto flex flex-row items-center gap-[0.625rem]">
            @if (assignedUser){
                <app-icon class="w-6 h-6 cursor-pointer" [matTooltip]="'Editar Tarea'" [name]="'edit'" [opacity]="true" (clickEvent)="editTask()"></app-icon>
            }

            <h1 class="font-crimson font-bold text-black text-opacity-80 text-sm">{{user.name}}</h1>
            
            <app-profile-icon [nameUser]="user.name" [color]="'none'"></app-profile-icon>
        </div>
    </div>

    <div class="w-full h-5 mt-1 ml-[2.125rem] flex flex-row items-center gap-1">
        <p class="font-crimson font-medium text-sm text-black text-opacity-50">Esta en la lista</p>
        @if (assignedUser) {
            <app-select class="w-[6.25rem]" 
                        [backgroundColor]="'none'" 
                        [options]="optionsStatus" 
                        [control]="statusControl" 
                        [size]="'x-small'" 
                        (selectOptionEvent)="transferStatus()"></app-select>
        }@else {
            <p class="font-crimson font-bold text-sm">{{statusControl.value}}</p>
        }
    </div>

    <div class="w-full h-[3.5rem] mt-6 ml-[2.125rem] flex flex-row gap-[0.313rem]">
        <div class="w-[8.75rem] h-full flex flex-col justify-between">
            <p class="font-crimson font-semibold text-xs text-black text-opacity-80">Prioridad</p>

            <div class="w-full h-8 bg-opacity-20 rounded-[0.25rem] px-[0.625rem] flex flex-row justify-start items-center" 
            [ngClass]="{
                'bg-[#FF0000]': detailedTask.priority == high,
                'bg-[#F6FF00]': detailedTask.priority == medium,
                'bg-[#00FF26]': detailedTask.priority == low,
             }">
                <p class="font-crimson font-semibold text-sm text-black text-opacity-50">{{getPriority(detailedTask.priority)}}</p>
            </div>
        </div>

        @if (detailedTask.storyPoints) {
            <div class="w-[8.75rem] h-full flex flex-col justify-between">
                <p class="font-crimson font-semibold text-xs text-black text-opacity-80">Puntos de historia</p>
    
                <div class="w-full h-8 px-[0.625rem] flex flex-row justify-start items-center" >
                    <p class="font-crimson font-semibold text-sm text-black text-opacity-50">{{detailedTask.storyPoints}}</p>
                </div>
            </div>
        }

        @if (detailedTask.initDate) {
            <div class="w-[8.75rem] h-full flex flex-col justify-between">
                <p class="font-crimson font-semibold text-xs text-black text-opacity-80">Fecha de inicio</p>
    
                <div class="w-full h-8 px-[0.625rem] flex flex-row justify-start items-center" >
                    <p class="font-crimson font-semibold text-sm text-black text-opacity-50">{{detailedTask.initDate | dateFormat:'DD/MM/YYYY'}}</p>
                </div>
            </div>
        }

        @if (detailedTask.endDate) {
            <div class="w-[8.75rem] h-full flex flex-col justify-between">
                <p class="font-crimson font-semibold text-xs text-black text-opacity-80">Fecha de finalización</p>
    
                <div class="w-full h-8 px-[0.625rem] flex flex-row justify-start items-center" >
                    <p class="font-crimson font-semibold text-sm text-black text-opacity-50">{{detailedTask.endDate | dateFormat:'DD/MM/YYYY'}}</p>
                </div>
            </div>
        }
    </div>

    <div class="w-full flex flex-col mt-6">
        <div class="w-auto flex flex-row items-center gap-[0.625rem]">
            <app-icon [name]="'subject'" [opacity]="true"></app-icon>

            <h1 class="font-crimson font-bold text-black text-opacity-80 text-base">Descripción</h1>
        </div>

        <div class="w-auto mt-1 ml-[2.125rem] text-wrap">
            @if(detailedTask.description){
                <p class="font-crimson font-medium text-sm text-black text-opacity-50">{{detailedTask.description}}</p>
            }@else {
                <p class="font-crimson font-medium text-sm text-black text-opacity-50">Añadir una descripción más detallada...</p>
            }
        </div>
    </div>

    <div class="w-full flex flex-col mt-6">
        <app-tabs [contentTabs]="tabs"></app-tabs>
    </div>

</section>

<ng-template #activity>
    <div class="h-[17.5rem] flex flex-col gap-[0.625rem] mt-4 overflow-x-auto">
        @for (item of detailedTask.statusHistory; track $index) {
            <app-description-activity [statusHistory]="item"></app-description-activity>
        }
    </div>
</ng-template>

<ng-template #comment>
    <div class="h-[17.5rem] flex flex-col gap-[0.625rem] mt-4 overflow-x-auto">
        <app-comments [comments]="detailedTask.comments" [taskId]="detailedTask.id"
                      (commentEvent)="confoirmComment($event)"></app-comments>
    </div>
</ng-template>