<section class="w-[55.125rem] h-full flex flex-col gap-[1.375rem]">
    @for (item of listProjects; track $index) {
        @if (item.project.length > 0) {
            <section class="w-full h-auto flex flex-col items-start">
                <div class="h-[1.875rem] flex flex-row justify-start items-center gap-[0.625rem]">
                    @if (item.icon) {
                        <app-icon class="w-6 h-6" [name]="item.icon" [opacity]="true"></app-icon>
                    }
        
                    <p class="font-crimson font-extrabold text-black text-base leading-[1.313rem]">{{item.title}}</p>
                </div>
                <div class="grid grid-cols-4 gap-3 ml-[2.125rem]">
                    @for (project of item.project; track $index) {
                        <app-card-project [featured]="project.outstanding"></app-card-project>
                    }
                </div>
            </section>
        }
    }
    <br>
</section>
