<table class="!bg-transparent" mat-table [dataSource]="data">
    @for (key of displayedColumns; track $index) {
        @switch (key) {
            @case ('actions') {
                <ng-container [matColumnDef]="key" stickyEnd>
                    <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
                    <td mat-cell *matCellDef="let element" [ngClass]=" {
                           ' !w-[10.813rem]': element['width'] == '10',
                           '!w-[14.75rem]': element['width'] == '14',
                        }">
                        <div class="w-f h-f flex flex-row justify-center items-center gap-[0.625rem]">
                            @for (item2 of element[key]; track $index) {
                                <app-icon class="w-6 h-6 cursor-pointer" 
                                          [matTooltip]="item2.tooltip" 
                                          [name]="item2.icon" 
                                          (clickEvent)="actionSelectio(item2.icon, element)"></app-icon>
                            }
    
                        </div>
                    </td>
                </ng-container>
            }
            @default {
                <ng-container [matColumnDef]="key">
                    <th class="font-crimson !font-extrabold text-base text-black text-opacity-80 text-clip whitespace-nowrap"  mat-header-cell *matHeaderCellDef>{{key}}</th>
                    <td class="font-crimson font-normal text-base text-black text-opacity-50" mat-cell *matCellDef="let element" [ngClass]="{
                        ' !w-[10.813rem]': element['width'] == '10',
                        '!w-[14.75rem]': element['width'] == '14',
                     }">
                        @if (typeOfDate(element[key])) {
                            {{element[key] | dateFormat:'DD/MM/YYYY'}}
                        }@else {
                            {{element[key]}}
                        }
                    </td>
                </ng-container>
            }
        }
    }

    <tr class="!h-[2.625rem]" mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr class="!h-[2.625rem] hover:!bg-slate-100" mat-row *matRowDef="let row; columns: displayedColumns;" (click)="rowSelection(row)"></tr>
</table>
